body{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat,sans-serif;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#container{
background-color:#ecf9f1;
height:575px;
width: 505px;
margin-top: 48px;
padding:30px 10px;
border-radius:8px;



}

#image{
    border:none ;
    height:250px;
    margin:10px 10px;
    overflow:hidden;
    box-shadow:0px 5px 5px;
  
}
#image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

#name{
    display: flex;
    justify-content: center;
    
    margin:10px 10px

}
#name h1{
    margin:0 auto;
    font-family: Montserrat;
    font-weight:600;
    color: #2e8b57;
}
#detail{
    border:none ;
    margin:10px 10px;
    height:200px;
    margin:10px 10px;
    box-shadow:0px 5px 5px;
    padding:5px;
    overflow: scroll;

}
#detail p{
    font-family: Montserrat;
    font-weight: 400;
    color:black;
}
#home{
    margin-top: 20px;
    display:flex;
    border: solid black;
    padding:5px;
    background-color: seagreen;
    
}
#home a{
    justify-content:center;
    align-items: center;
    margin:0 auto;
    text-decoration: none;
    color:black;
    color: #ecf9f1;

}

@media screen and (max-width: 380px){
    #container{
        margin-top: 28px;
    }
    body{
        background-repeat: repeat;
        background-size: cover;
        height:100%;
        }
    }